$main-text-color: #444b51;
$main-white-color: #fff;
$main-primary-background-color: rgba(255, 242, 239, 1);
$main-second-background-color: rgb(226, 67, 41);
$main-hr-color: rgb(189, 189, 189);
$btn-color: #e24329;
