@import "../../sass/colors";

.ApplicationApp {
  display: flex;
  gap: 30px;
  font-family: "Inter";
  color: $main-text-color;
  margin-top: 40px;
  &__content {
    display: flex;
    gap: 4px;
    width: 170px;
    height: 60px;
    border: 2px solid $main-text-color;
    border-radius: 16px;
    padding: 8px 12px;
    i {
      font-size: 36px;
      color: $main-text-color;
    }
    img {
      width: 29px;
      height: 32px;
    }
    div {
      p {
        font-size: 10px;
        font-weight: 400;
        margin-left: 4px;
      }
      h2 {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
