@import "../../sass/colors";
.Footer {
  width: 1440px;
  height: 346px;
  background-color: $main-primary-background-color;
  color: $main-text-color;
  padding-top: 74px;

  &__content {
    display: flex;
    gap: 92px;
    width: 872px;
    margin: 0 auto;
    ul {
      width: 192px;
      height: 210px;

      li {
        margin: 16px auto;
        width: 192px;
        font-size: 16px;
        font-weight: 500;
      }
      & :first-child {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 20px;
      }
    }
    &-block {
      width: 370px;
      p {
        margin-top: 30px;
      }
    }
    &-logo {
      display: flex;
      gap: 27px;
      margin-top: 40px;
      i {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        font-size: 22px;
        color: $main-white-color;
        background-color: $main-text-color;
        padding: 5px;
      }
    }
  }
  &__line {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: $main-white-color;
    background-color: $main-second-background-color;
    margin: 62px auto;
    padding: 13px;
  }
}
