.Applications {
  display: flex;
  width: 1440px;
  height: 600px;
  background-color: rgba(255, 242, 239, 1);

  &__content {
    width: 652px;
    height: 428px;
    margin-left: 135px;
    color: rgb(68, 75, 81);
    h1 {
      font-size: 40px;
      font-weight: 700;
      margin-top: 86px;
    }
    > p {
      width: 600px;
      font-size: 17px;
      font-weight: 400;
      margin-top: 16px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 18px;
      font-weight: 700;
      margin-top: 30px;

      & > div {
        display: flex;
        align-items: center;
        gap: 20px;
        p:nth-child(1) {
          color: #fff;
          background-color: rgb(226, 67, 41);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          padding: 12px 14px;
        }
      }
    }
  }
  &__image {
    overflow: hidden;
    padding-right: 130px;
    pointer-events: none;
    img {
      width: 617px;
      height: 767px;
      margin-top: 53px;
    }
  }
  .app {
    display: flex;
    gap: 30px;
    font-family: "Inter";
    color: rgba(32, 58, 89, 1);
    margin-top: 40px;

    &__content {
      display: flex;
      gap: 4px;
      width: 170px;
      height: 60px;
      border: 2px solid rgb(32, 58, 89);
      border-radius: 16px;
      padding: 10px 14px;

      i {
        font-size: 35px;
        color: rgb(32, 58, 89);
      }
      img {
        width: 29px;
        height: 32px;
      }
      &-left,
      &-right {
        margin-top: -3px;

        p {
          font-size: 10px;
          font-weight: 400;
          margin-left: 4px;
        }
        h2 {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}
