.App{
    width: 100%;
}
.App__container{
    background-color: #fdedea;
    height: 330px;
    width: 967px;
    margin: 20px auto;
    border-radius: 20px;
    background-image: url(./images/ani.png);
}
.App__context > div{
    padding-top: 50px;
    width: 791px;
    height:260px;
    margin: 20px auto;
    text-align: center;  
    display: flex;
    flex-direction: column;
   
}
h1{
    color: #53585d;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 18px;
}
span{
    font-size: 16px;
    margin-bottom: 42px;

}
button{
    width: 285px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    background-color:#ffffff;
    color:#E24329;
    height: 60px;
    border: none;
    font-weight:700;
    font-size: 16px;
}